<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Registrering</title>
</head>
<body>
    <p id="finavn"></p>
    <div class="register-container">
        <h2>Registrer deg</h2>
        <form action="/register" method="post">
            <input type="fullname-list" id="fullname" name="fullname" placeholder="Fullt Navn" list="fullname-list" required>
            <datalist id="fullname-list"></datalist>

            <div id="userpass" style="display: none;">
                <input type="text" name="username" placeholder="Brukernavn" required>
                <input type="password" name="password" placeholder="Passord" required>
            </div>
            <button type="submit">Registrer</button>
        </form>
    </div>

    <script src="/static/search.js"></script>
</body>
</html>