<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bøker</title>
</head>
<body>
    <div class="bok-container">
        <form action="utlan" method="GET">
            <input type="text" name="bokid" placeholder="bokID">
            <button type="submit">Submit</button>
        </form>
        {% if error %}
            <h3>Boken finnes ikke i våre systemer</h3>
            <h3>{{ error }}</h3>
        {% endif %}
        <!-- {% for book in books %}
        <div class="bokBox">
            <h2>{{ book.title }}</h2>
            <h3>{{ book.author }}</h3>
            <button>Lei bok</button>
        </div>
        {% endfor %} -->
    </div>
    <h2>Title</h2>
    <h3>{{ title }}</h3>
    <h2>Author</h2>
    <h3>{{ author }}</h3>
</body>
</html>